@import 'reset';
@import 'vendor/sass-flexbox';

@font-face {
     font-family: "opensans-regular";
     src: url("http://s.glbimg.com/gl/ba/fonts/opensans-regular-webfont.woff");
}
@font-face {
     font-family: "opensans-bold";
     src: url("http://s.glbimg.com/gl/ba/fonts/opensans-bold-webfont.woff");
}

@font-face {
     font-family: "proximanova-bold";
     src: url("http://s.glbimg.com/gl/ba/fonts/proximanova-bold-limited-webfont.woff");
}

body{
    display: block;
    font-family: "opensans-regular", "sans-serif";
    margin: 0
}

a {
    color: #333;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: initial;
    }
}


.wrapper {
    @include align-content(space-between);
    @include align-items(stretch);
    display: flex;
    @include flex-wrap(wrap);
    margin: 0 auto;
    width: 90%;
}
